/**
  *   Comment
  */

#testButton {
  height: 4rem;
  width: 6rem;
  display: block;
  margin: 2rem auto 2rem;
  border: 3px solid hotpink;
}

html, body {
  /* background-color: black; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Tahoma, Geneva, sans-serif; */
  /* font-family: Verdana, Geneva, sans-serif; */
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: Georgia, Serif; */
  /*min-width: 1280px;*/
}

* {
  box-sizing: border-box;
  border: 1px solid hotpink;
}

.container-main {
  width: 36rem;
  border: 10px solid dimgrey;
  border-radius: 1rem;
  padding: 3rem 0;
  background-color: forestgreen;


  background-image: url("../images/psychedelic-waves.png");
  background-image: url("../images/dark-mosaic.png");
  /* background-position: center; */
}

.container-display {
  width: 30rem;
  margin: 0 auto 3rem;
}

.display {
  font-size: 3.1rem;
  height: 5rem;
  background-color: silver;
  border: 0.25rem solid dimgrey;
  border-radius: 0.5rem;
  padding-right: 1rem;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: flex-end;
}


.container-keys {
  height: 30rem;
  width: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5rem;
  margin: auto;
}

.keys-area-top {
  grid-area: 1 / 1 / 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  margin-bottom: 1.5rem;
}
.keys-area-main {
  grid-area: 2 / 1 / 6 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.6rem;
}
.keys-area-right {
  grid-area: 1 / 4 / 6 / 5;
  display: grid;
  grid-row-gap: 0.6rem;
  margin-left: 1rem;
}

.key {
  font-size: 2em;
  background-color: lightgrey;
  border: 0.15rem solid dimgrey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
