/**
  *   Comment
  */

html, body {
  /* background-color: black; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Tahoma, Geneva, sans-serif; */
  /* font-family: Verdana, Geneva, sans-serif; */
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: Georgia, Serif; */
  /*min-width: 1280px;*/
}

* {
  box-sizing: border-box;
  border: 1px solid hotpink;
}

.container-main {
  width: 36rem;
  border: 10px solid dimgrey;
  border-radius: 1rem;
  padding: 3rem 0;
  background-color: forestgreen;


  background-image: url("../images/psychedelic-waves.png");
  background-image: url("../images/dark-mosaic.png");
  /* background-position: center; */
}

.container-display {
  width: 30rem;
  height: 5rem;
  display: grid;
  grid-template-columns: 11fr 1fr;
  margin: 0 auto 3rem;
}

.display {
  /* font-size: 3.1rem; */
  background-color: silver;
  border: 0.25rem solid dimgrey;
  /* border-radius: 0.5rem; */
  display: flex;
  align-items: center;
}

.display-main {
  font-size: 2rem;
  border-right-width: 0;
  flex-flow: nowrap row;
  justify-content: flex-end;
  /* padding-right: 0.5rem; */
}

.display-icons {
  font-size: 1.5rem;
  border-left-width: 0;
  flex-flow: nowrap column;
  justify-content: space-around;
  padding: 0.3rem;
}

.container-keys {
  height: 30rem;
  width: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  margin: auto;
}

.keys-area-top {
  grid-area: 1 / 1 / 2 / 4;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-column-gap: 2rem;
  margin-bottom: 1.5rem;
}
.keys-area-main {
  grid-area: 2 / 1 / 6 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5rem;
}
.keys-area-right {
  grid-area: 1 / 4 / 6 / 5;
  display: grid;
  grid-row-gap: 1.5rem;
  margin-left: 1.5rem;
}

.key {
  /* font-size: 1.5em; */
  background-color: lightgrey;
  border: 0.15rem solid dimgrey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key-control {
  font-size: 1.5em;
}

.key-numpad {
  font-size: 2.5em;
}

.key-operator {
  font-size: 2.5em;
}
