

  * {
    box-sizing: border-box;
  }

html, body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.container-main {
  width: 60vmin;
  border: 0.8vmin solid #99004d;
  border-radius: 1.8vmin;
  margin: 5vmin auto;
  padding: 5vmin 0;
  background-color: #ffccee;
  background-image: url("../images/vichy.png");
}

.container-power {
  width: 50vmin;
  height: 5vmin;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto 5vmin;
}

.container-display {
  width: 50vmin;
  height: 7vmin;
  display: grid;
  grid-template-columns: 11fr 1fr;
  margin: 0 auto 8vmin;
}

.display {
  font-size: 3vmin;
  background-color: #d9d9d9;
  border: 0.5vmin solid #99004d;
  border-radius: 1.3vmin;
  display: flex;
  align-items: center;
}

/* alt display color then calculator is turned off */
.display-off {
  background-color: #999999;
}

.display-main {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-flow: nowrap row;
  justify-content: flex-end;
  padding-right: 0.5vmin;
}

.display-icons {
  line-height: 70%;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-flow: nowrap column;
  justify-content: center;
}

.container-keys {
  height: 52vmin;
  width: 50vmin;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: auto;
}

/**
  *   Key Grid Areas
  */

.keys-area-top {
  grid-area: 1 / 1 / 2 / 9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4vmin;
  margin-right: 3vmin;
}

.keys-area-main {
  grid-area: 3 / 1 / 11 / 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3vmin;
  margin-right: 3vmin;
}

.keys-area-right {
  grid-area: 1 / 10 / 11 / 12;
  display: grid;
  grid-row-gap: 3vmin;
}

.key {
  color: #b30059;
  font-size: 3.5vmin;
  background-color: #ffe6f2;
  border: 0.3vmin solid #b30059;
  border-radius: 4vmin;
  box-shadow: 0.4vmin 0.4vmin 0.5vmin 0px rgba(0,0,0,0.75);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key:hover {
  border: 0.3vmin solid #ff66b3;
  color: #ff66b3;
}

.key-control {
  font-size: 2.2vmin;
  border-radius: 1.8vmin;
  padding: 0 0.75vmin;
}

.highlighted {
  background-color: #ffb3e6;
}

/* prevent selection of text while clicking on buttons */
.unselectable {
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
